.header-component {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: #344679;
    h1 {
        font-family: 'Alfa Slab One', cursive;
        letter-spacing: .1rem;
        color: white;
        text-shadow: 2px 2px #ff0000;
    }
}